<?xml version="1.0"?>

<launch>
  
  <arg name="port" default="/dev/ttyUSB0"/>
  
  <include file="$(find rosserial_server)/launch/serial.launch">
    <arg name="port" value="$(arg port)" />
  </include>
  
  <node pkg="hector_mpu6050_imu_converter" type="hector_mpu6050_imu_converter_node" name="mpu6050_imu_converter_node" output="screen">
    <remap from="~/imu" to="/imu/data"/>
  </node>
  
</launch>

